@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
/* Container styles */
.chat-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 16px;

}

/* Chat list styles */
#chat-ul {
    height: 600px;
    width: 600px;
    list-style-type: none;
    padding: 10px;
    background-color: rgba(126, 162, 206, 0.38);
    border-radius: 20px;
    /*background-image: url("./pexels-anni-roenkae-2382738.jpg");*/
    box-shadow: 20px 20px rgba(142, 174, 225, 0.11);
    margin-bottom: 12px;
    overflow-y: scroll;

}

::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg,white, #4d509e);
}

#chat-li {
    width: 350px;
    height: 80px;
    padding:20px;
    /*color: #ffffff;*/
    background-color: rgba(221, 221, 221, 0.32);
    border-radius: 20px;
    border: 1px solid #f0f0f0;
    margin: 10px 10px;


}
 #qa{
     font-size: 70px;
     font-weight: 200;
     margin-bottom: 30px;
     margin-top: 20px;
     font-family: 'Fuzzy Bubbles', sans-serif;
 }

strong {
    color: #888;
}

/* Chat form styles */

#text-area{
    width: 300px;
    margin-right: 40px;
    border-radius: 25px;
    flex-grow: 1;
    font-size: 16px;
    padding: 8px;
    border: none;
}
#send-btn{
    background-color: rgba(77, 80, 158, 0.89);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
    padding: 10px;
}
#send-btn:hover{
    font-size: 23px;
    transition: all 0.5s;
    background-color: rgba(77, 80, 158, 0.66);
}
#chat-form{
    display: inline-block;
    background: none;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 2rem;
    width: 600px;
    margin-right: 20px;
}