@import "../../global.scss";

.contact {
  background-color: #fff;
  display: flex;

  .left {
    flex: 1;
    overflow: hidden;
  }

  img {
    height: 100%;
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-family: "Fuzzy Bubbles", sans-serif;
      font-size: 50px;
      color: black;
      border-bottom: 4px inset $mainColor;
    }
    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      input {
        width: 300px;
        height: 30px;
        font-style: 14px;
      }

      textarea {
        width: 300px;
        height: 200px;
        font-size: 15px;
      }

      button {
        width: 150px;
        height: 30px;
        color: #fff;
        background-color: #975c8dca;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;
        font-size: 20px;
        transform: 1s ease;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #a55299e7;
        }
      }
      span {
        font-size: 20px;
        font-weight: 600;
        font-family: "Fuzzy Bubbles", sans-serif;
        color: $mainColor;
      }
    }
  }
}
