@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h2{
  font-weight: 300;
    font-size: 50px;
}
h5{
    font-weight: 400;
    font-size: 20px;
    color: #0044d0;
}
form{
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
}
form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}
input {
    width: 15rem;
    padding: .3rem;
    margin-left: 2rem;
    border-radius: 5px;
    outline: none;
    border: none
}
#user-in ,#email-in{
    margin-bottom: 0.5rem;
}
#email-in{
    margin-left: 4rem;
}
form span{
    font-size: .8rem;
}

body{
   margin:0 auto;
}
.container{
    margin: 5rem auto;
}
#btn {
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background-color: rgba(77, 80, 158, 0.89);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}
#btn:hover{
    font-size: 23px;
    transition: all 0.5s;
    background-color: rgba(77, 80, 158, 0.66);
}
footer p {
    margin: 0;
    font-size: .9rem
}
a{
    color: #0044d0;
    text-decoration: none;
}