@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 50px;
}

form{
    display: inline-block;
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0;
}
form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0
}
input {
    width: 15rem;
    padding: .3rem;
    margin-left: 2rem;
    border-radius: 5px;
    outline: none;
    border: none
}
#email-in{
    margin-bottom: 5rem;
}

form span{
    font-size: .8rem;
}

body{
    margin:0 auto;
}
.container{
    display: inline-block;
    padding-right: 12%;
    padding-bottom:10%;
}
#btn {
    margin-right: 1rem;
    margin-top: 3rem;
    padding: .6rem;
    width: 10rem;
    background-color: rgba(77, 80, 158, 0.89);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}
#btn:hover{
    font-size: 23px;
    transition: all 0.5s;
    background-color: rgba(77, 80, 158, 0.66);
}
footer p {
    margin: 0;
    font-size: .9rem
}
a{
    color: #0044d0;
    text-decoration: none;
}
.box{
    display: flex;
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image{
    height: 50rem;
    width: 40rem;
    flex: 1;
    overflow: hidden;
}
.login-img{
    margin-left: 12%;
    margin-top: 10%;
    height: 43%;
}
.line-login{
    border-right: 6px solid #4D509EE2;
    border-radius: 40px;
    margin-top: 150px;
    margin-left: 7%;
    height: 350px;

}