@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');.title{
    font-family: "Fuzzy Bubbles", Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
}