@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  width: 150px;
  height: 150px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product img {
  width: 250px;
  height: 250px;
  
}

.product .description {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  background-color: rgb(152, 155, 229);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  font-size: 17px;
  transition: all 0.5s;
  background-color: rgba(152, 155, 229, 0.824);
}
#title {
  font-family: "Fuzzy bubbles", sans-serif;
  font-size: 50px;
}

#tinyc {
  margin-left: 70%;
  color: rgba(113, 117, 234, 0.997);
  margin-top: 20px;
}

.noCart{
  font-family: 'Fuzzy Bubbles', sans-serif;
  font-size: 25px;
  color: rgb(255, 62, 62);
  margin-top: 20px;
}